/*  font-family: 'DM Sans', sans-serif;  
    font-family: 'Poppins', sans-serif;
*/


*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}

body {
  background: black;
}

.container {
  max-width: 1187px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
/* nav-start */

.nav {
  padding: 18px 0px;
}

.nav_wraper {
  display: flex;
  justify-content: space-between;
}
.nav_menu {
  display: flex;
  justify-content: space-between;
}
.nav_item {
  margin-left: 23px;
}
.logo_nav {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3;
  color: #ffffff;
}
.nav_bar {
  display: flex;
  align-items: center;
}

.nav_link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 1;
  color: #ffffff;
  padding-bottom: 5px;
}
.nav_link:hover {
  border-bottom: solid 3px #5c62ec;
}
hr {
  background: #26292d;
  opacity: 0.2;
}
/* nav-end */

/* wraper-start */
.title_wraper {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 3.75vw;
  line-height: 1.183;
  text-align: center;
  letter-spacing: -0.5px;
  color: #fafafa;
  margin: 128px 0px 16px 0px;
}
.title_wraper span {
  color: #5c62ec;
}

.subtitle_wraper {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #ffffff;
  margin-bottom: 48px;
}

.button_wraper {
  text-align: center;
  margin-bottom: 306px;
}

.btn_wraper {
  border: 1px solid #fff;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fafafa;
  padding: 16px 31.5px;
  border-radius: 5px;
  margin-left: 24px;
}
.btn_wraper:hover {
  border: solid 1px #5a5ff1;
  background: #2c30aa;
}
.icon_btn {
  padding-right: 7px;
}
/* wraper-end */

/* about-start */
.about_info {
  background: #1c1e22;
  width: 100%;
  max-width: 967px;
  height: 453.16px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 8px;
  border: solid 2px rgba(66, 66, 66, 0.333);
  margin-bottom: 237px;
}

.about_content {
  display: flex;
  width: 100%;
  max-width: 916px;
  align-items: center;
}

.about_img {
  margin-right: 32px;
}

.about_title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #ffffff;
  margin-bottom: 32px;
}
.about_subtitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.44px;
  color: #ffffff;
  margin-bottom: 40px;
}
.btn_about {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border: 1px solid #fff;
  padding: 16px 20px;
  border-radius: 8px;
}
/* about-end */

/* project-start */

.project_content {
  display: grid;
  
}

.project_content h3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #ffffff;
  margin-bottom: 64px;
}
.img_prj {
  grid-template-columns: 534px;
  width: 100%;
  margin-bottom: 24px;
}
.img_prj:nth-child(5) {
  margin-bottom: 48px;
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 128px;
}

.btn_project {
  padding: 16px 20px;
  border: solid 1px #fff;
  border-radius: 8px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.btn_project:hover {
  border: solid 1px #5c62ec;
  background: #5c62ec;
}


/* project-end */

/* footer-start */
.footer_list {
  display: flex;
  margin: 64px 0;
}
h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.footer_list p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #85bfd1;
}
.category_footer {
  display: flex;
  flex-direction: column;
}
.category {
  display: flex;
}
.category_footer {
  margin-left: 129px;
}
.social_footer {
  margin-left: 129px;
}
.footer_list p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15;
  color: #85bfd1;
  margin-bottom: 24px;
}
.footer_list a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #ffffff;
  margin-bottom: 24px;
}
/* footer-end */
